In [1]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 646kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.17.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678230 sha256=2fcca745a1fc5142791fd0c8cb53991fa78f9c7a9940896acd9c80c9cb83a4bb
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [0]:
import numpy as np
import pandas as pd
from surprise import SVD, KNNBasic, Dataset, Reader
from surprise.model_selection import cross_validate

In [0]:
users=[1,2,3,4,1,2,3,4]
movies=["starwars","Harrypotter","starwars","starwars","Harrypotter","Tomraider","Harrypotter","Tomraider"]
ratings=[1,3,4,2,3,4,1,1]

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [0]:
df

   userID       itemID  rating
0       1     starwars       1
1       2  Harrypotter       3
2       3     starwars       4
3       4     starwars       2
4       1  Harrypotter       3
5       2    Tomraider       4
6       3  Harrypotter       1
7       4    Tomraider       1

In [0]:
reader=Reader(rating_scale=(1,5))
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)
algo=SVD()

In [0]:
cross_validate(algo,data, measures=['rmse','mae'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.7338  1.7283  1.4935  0.6343  0.8572  1.2894  0.4578
MAE (testset)     1.7335  1.7268  1.0697  0.6343  0.8572  1.2043  0.4509
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'fit_time': (0.0009891986846923828,
  0.0007040500640869141,
  0.0005183219909667969,
  0.0004839897155761719,
  0.0004966259002685547),
 'test_mae': array([1.73352875, 1.72680792, 1.06973179, 0.63425182, 0.85717455]),
 'test_rmse': array([1.7338468 , 1.72833984, 1.49354971, 0.63425182, 0.85717455]),
 'test_time': (0.00011134147644042969,
  4.220008850097656e-05,
  2.7179718017578125e-05,
  1.621246337890625e-05,
  1.811981201171875e-05)}

In [0]:
print(algo.predict(1,'starwars'))
print(algo.predict(2,'starwars'))
print(algo.predict(3,'starwars'))
print(algo.predict(4,'starwars'))

user: 1          item: starwars   r_ui = None   est = 2.05   {'was_impossible': False}
user: 2          item: starwars   r_ui = None   est = 2.47   {'was_impossible': False}
user: 3          item: starwars   r_ui = None   est = 2.57   {'was_impossible': False}
user: 4          item: starwars   r_ui = None   est = 2.20   {'was_impossible': False}

In [0]:
#working with Jester_1_1 dataset: Data from 24,983 users who have rated 36 or more jokes, a matrix with dimensions 24983 X 101
#http://eigentaste.berkeley.edu/dataset/

In [0]:
#upload from local file
from google.colab import files
uploaded = files.upload()

In [0]:
import io
colnames=[]
df = pd.read_csv(io.BytesIO(uploaded['jester-data-1_new.csv']))

In [4]:
from google.colab import drive #toimport google drive data
drive.mount('/content/drive') #to mount the drive data into colab clound and enterr the activation code

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
cd /content/drive/"My Drive"

/content/drive/My Drive

In [0]:
df=pd.read_csv("Colab Notebooks/jester-data-1_new.csv")
df=df.drop(['Number of Ratings'],axis=1)

In [7]:
df

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [8]:
df2=df
df2

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [0]:
colname=df2.columns[1:101]

In [0]:
df3=(df.values)   #df2[:,1:102]

In [11]:
ratings=(df3[:,1:102].ravel())
ratings.size

2498300

In [0]:
a=[]

for i in range (1,24984):
    a=a+[i]

In [0]:
b=[]
for i in range(100):
  b.extend(a)

In [0]:
b.sort()

In [15]:
b

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 ...]

In [0]:
jokes=[]

for i in range (1,101):
    jokes=jokes+[str(i)]

In [0]:
users=b   #length=2498300
movies=jokes*24983   #length=2498300 

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [18]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498295   24983     96    NaN
2498296   24983     97    NaN
2498297   24983     98    NaN
2498298   24983     99    NaN
2498299   24983    100    NaN

[2498300 rows x 3 columns]

In [0]:
df.dropna(inplace=True)

In [23]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498267   24983     68   7.48
2498268   24983     69   5.15
2498269   24983     70    3.2
2498270   24983     71   6.26
2498286   24983     87   7.23

[1810455 rows x 3 columns]

In [0]:
#remove this
newdf=df.iloc[0:1800005]

In [22]:
newdf

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2483747   24838     48  -7.04
2483748   24838     49  -1.07
2483749   24838     50   9.08
2483750   24838     51  -3.79
2483751   24838     52  -0.39

[1800005 rows x 3 columns]

In [0]:
#write df in place of newdf for final run
reader=Reader(rating_scale=(-10,10))
trainset=Dataset.load_from_df(df[['userID','itemID','rating']],reader).build_full_trainset()

In [0]:
#write df in place of newdf for final run
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)

In [26]:
algo_svd=SVD()
algo_svd.fit(trainset)

In [0]:
cross_validate(algo_svd,data,measures=['rmse'],cv=5,verbose=True)

In [0]:
from surprise import KNNBasic
algo_knn=KNNBasic()
algo_knn.fit(trainset)

Computing the msd similarity matrix...

In [0]:
cross_validate(algo_knn,data,measures=['rmse','mae'],cv=5,verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.2225  4.2154  4.2063  4.2607  4.2390  4.2288  0.0192
MAE (testset)     3.3619  3.3631  3.3466  3.3826  3.3748  3.3658  0.0123
Fit time          10.93   10.39   11.01   10.61   11.17   10.82   0.28
Test time         57.00   57.28   56.62   56.79   56.76   56.89   0.23

{'fit_time': (10.931639909744263,
  10.389789819717407,
  11.010661125183105,
  10.607165098190308,
  11.172112941741943),
 'test_mae': array([3.36185138, 3.36305946, 3.3465603 , 3.38262334, 3.37484852]),
 'test_rmse': array([4.22252618, 4.21535104, 4.2062533 , 4.26073924, 4.23898593]),
 'test_time': (57.001705169677734,
  57.27526378631592,
  56.622124433517456,
  56.791804790496826,
  56.757224321365356)}

In [0]:
algo_knn.predict(43,'10')

Prediction(uid=43, iid='10', r_ui=None, est=2.2813643154450336, details={'actual_k': 40, 'was_impossible': False})